<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorry</title>

    <link rel="stylesheet" href="/stylesheets/err_page.css">
    <link href='/stylesheets/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <script>
        function setToDarkMode() {
            document.documentElement.style.setProperty('--background-color-2', '#1b1b1b')
            document.documentElement.style.setProperty('--text-color', '#e3e3e3')
            document.documentElement.style.setProperty('--text-color-2', '#898989')
            document.documentElement.style.setProperty('--background-color-1', '#282a2c')
        }

        function setToLightMode() {
            document.documentElement.style.setProperty('--background-color-2', '#e9eef6')
            document.documentElement.style.setProperty('--text-color', 'rgb(60,64,67)')
            document.documentElement.style.setProperty('--text-color-2', 'rgb(91, 95, 99)')
            document.documentElement.style.setProperty('--background-color-1', 'whitesmoke')
        }

        if (localStorage.getItem('theme') == 'dark') {
            setToDarkMode()
        }
        </script>
</head>
<body>
    <div class="icon">
        <i class='<%= icon %>' style='color:<%= color %>' ></i>
    </div>
    <div class="mess">
        <p class="main-mess">
            <%= main_mess %>
        </p>
        <p class="second-mess">
            <%= second_mess %>
        </p>
    </div>
</body>
</html>