<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Đăng nhập tài khoản</title>

    <link rel="stylesheet" href="/stylesheets/sign_in_up.css">
    <link href='/stylesheets/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <script>
        function setToDarkMode() {
            document.documentElement.style.setProperty('--background-color-2', '#1b1b1b')
            document.documentElement.style.setProperty('--text-color', '#e3e3e3')
            document.documentElement.style.setProperty('--text-color-2', '#898989')
            document.documentElement.style.setProperty('--hover-color', 'rgba(232,234,237,.08)')
            document.documentElement.style.setProperty('--color-hover', '#e3e3e3')
            document.documentElement.style.setProperty('--background-color-1', '#282a2c')
            document.documentElement.style.setProperty('--height-line-color', 'rgba(255,255,255,0.2)')
        }

        function setToLightMode() {
            document.documentElement.style.setProperty('--background-color-2', '#e9eef6')
            document.documentElement.style.setProperty('--text-color', 'rgb(60,64,67)')
            document.documentElement.style.setProperty('--text-color-2', 'rgb(91, 95, 99)')
            document.documentElement.style.setProperty('--hover-color', 'rgba(0,0,0,0.05)')
            document.documentElement.style.setProperty('--color-hover', 'rgb(75, 79, 82)')
            document.documentElement.style.setProperty('--background-color-1', 'whitesmoke')
            document.documentElement.style.setProperty('--height-line-color', 'rgb(218,220,224)')
        }

        if (localStorage.getItem('theme') == 'dark') {
            setToDarkMode()
        }
    </script>
    <!-- <script defer src="\javascripts\otp_page.js"></script> -->
</head>

<body>
    <div class="main-center">
        <p class="title">Reset password</p>

        <div class="line">
            <label class="wall-input">
                <input type="text" placeholder="Mật khẩu" id="password">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
        </div>
        <div class="line">
            <label class="wall-input">
                <input type="text" placeholder="Xác nhận mật khẩu" id="password-2">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
        </div>
        <button class="ok">Reset</button>

        <p class="dctk">quay về trang trang nhập?<a href="#">SignIn</a></p>
    </div>
</body>

</html>