<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>

    <link rel="stylesheet" href="/stylesheets/sign_in_up.css">
    <link href='/stylesheets/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <script>
        function setToDarkMode() {
            document.documentElement.style.setProperty('--background-color-2', '#1b1b1b')
            document.documentElement.style.setProperty('--text-color', '#e3e3e3')
            document.documentElement.style.setProperty('--text-color-2', '#898989')
            document.documentElement.style.setProperty('--hover-color', 'rgba(232,234,237,.08)')
            document.documentElement.style.setProperty('--color-hover', '#e3e3e3')
            document.documentElement.style.setProperty('--background-color-1', '#282a2c')
            document.documentElement.style.setProperty('--height-line-color', 'rgba(255,255,255,0.2)')
        }

        function setToLightMode() {
            document.documentElement.style.setProperty('--background-color-2', '#e9eef6')
            document.documentElement.style.setProperty('--text-color', 'rgb(60,64,67)')
            document.documentElement.style.setProperty('--text-color-2', 'rgb(91, 95, 99)')
            document.documentElement.style.setProperty('--hover-color', 'rgba(0,0,0,0.05)')
            document.documentElement.style.setProperty('--color-hover', 'rgb(75, 79, 82)')
            document.documentElement.style.setProperty('--background-color-1', 'whitesmoke')
            document.documentElement.style.setProperty('--height-line-color', 'rgb(218,220,224)')
        }

        if (localStorage.getItem('theme') == 'dark') {
            setToDarkMode()
        }
    </script>

    <script defer src="javascripts\p_sign_up.js"></script>

</head>

<body>
    <div class="main-center">
        <p class="title">SignUp Form</p>
        <div class="line">
            <label class="wall-input">
                <input type="text" id="user-name" placeholder="Tên đăng nhập">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
            <label class="wall-input">
                <input type="text" id="email" placeholder="Email">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
        </div>
        <div class="line">
            <label class="wall-input">
                <input type="password" id="password" placeholder="Mật khẩu">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
                <div class="hide-pass">
                    <i class='bx bx-hide'></i>
                </div>
            </label>
            <label class="wall-input">
                <input type="password" id="password-2" placeholder="Xác nhận mật khẩu">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
                <div class="hide-pass">
                    <i class='bx bx-hide'></i>
                </div>
            </label>
        </div>
        <div class="line">
            <label class="wall-input">
                <input type="text" id="full-name" placeholder="Họ và tên">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
            <label class="wall-input">
                <input type="number" id="mssv" maxlength="10" placeholder="Mã số sinh viên">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
        </div>
        <div class="line">
            <label class="wall-input">
                <input class="dropdown" type="text" id="khoa" placeholder="Khoa">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
            <label class="wall-input">
                <input class="dropdown" type="text" id="lop" placeholder="Lớp">
                <div class="icon-err">
                    <i class='bx bx-error-circle'></i>
                    <div class="tooltip"></div>
                </div>
            </label>
        </div>

        <button class="ok" id="sign-up"><i class='bx bx-loader bx-spin' ></i>SignUp</button>

        <p class="dctk">Đã có tài khoản?<a href="/sign_in">SignIn</a></p>

        <div class="hr">
            <div class="a"></div>
            <span>OR</span>
            <div class="a"></div>
        </div>

        <button class="b2" onclick="location = '/sign_in?type=SGU'">Đăng nhập với tài khoản sgu</button>

    </div>
</body>

</html>