<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="stylesheets\main.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script defer src="javascripts\javascript.js"></script>

    </head>

    <body>
        <div class ="sidebar close">
            <div class="sidebar-item trangchu">
                <div class="sidebar-menu">
                    <span class="text trang-chu">Học phần</span>
                </div>
            </div>

            <div class="sidebar-item ThoiKhoaBieu">
                <div class="sidebar-menu">
                    <span class="text ThoiKhoaBieu">Thời Khóa Biểu</span>
                </div>

                <div class="popup" style="display: none;">
                    <div class="sapxeptoiuu">  
                        <a href="#">
                            <span class="text sapxeptoiuu">Sắp Xếp Tối Ưu</span>
                        </a>
                    </div>
                    
                    <div class="sapxeprandom">
                        <a href="#">
                            <span class="text sapxeprandom">Sắp Xếp Random</span>
                        </a>
                    </div>
                </div>
                    
            </div>
            <div class="sidebar-item nhanxet">
                <div class="sidebar-menu">
                    <span class="text nhanxet">Nhận Xét GV</span>
                </div>
                <div class="popup" style="display: none;">

                    <div class="Dokho-de">
                        <a href="#">
                            <span class="text dokhode">Độ Khó Dễ</span>
                        </a>
                    </div>
                    
                    <div class="sidebar-item danhgia">
                        <a href="#">
                            <span class="text danhgia">Đánh Giá</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>