<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập tài khoản</title>

    <link rel="stylesheet" href="stylesheets\sign_in_up.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script>
        function setToDarkMode() {
            document.documentElement.style.setProperty('--wrapper-color', '#282a2c')
            document.documentElement.style.setProperty('--h1dangky-color', '#bdc1c6')
            document.documentElement.style.setProperty('--input-color', '#282a2c')
            document.documentElement.style.setProperty('--text-color', '#bdc1c6')
            document.documentElement.style.setProperty('--member-color', '#bdc1c6')
            document.documentElement.style.setProperty('--main-color', '#1b1b1b')

        }

        function setToLightMode() {
            document.documentElement.style.setProperty('--wrapper-color', 'whitesmoke')
            document.documentElement.style.setProperty('--h1dangky-color', '#07001f')
            document.documentElement.style.setProperty('--input-color', '#e4e4e4')
            document.documentElement.style.setProperty('--text-color', '#07001f')
            document.documentElement.style.setProperty('--main-color', '#e9eef6')

        }

        if (localStorage.getItem('theme') == 'dark') {
            setToDarkMode()
        }
    </script>
    <script defer src="javascripts\p_sign_in.js"></script>
</head>

<body>
<div class="wrapper">
    <h1>Đăng Nhập</h1>
    <form action="#">
        <input type="text" placeholder="Tên đăng nhập" id="username">
        <input type="text" placeholder="Mật khẩu" id="pass">
    </form>
    <div class="err" id="err"></div>
    <button onclick="sign_in()">Đăng nhập</button>
    <div class="dang_ky">
        Chưa có tài khoản -.- ? <a href="./sign_up">Đăng ký</a>
    </div>
    <div class="quen_mat_khau">
        Quên mật khẩu :D ? <a href="#">Lấy lại mật khẩu</a>
    </div>
</div>
</body>
</html>