<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>

    <link rel="stylesheet" href="/stylesheets/sign_in_up.css">
    <link href='/stylesheets/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">


    <script>
        function setToDarkMode() {
            document.documentElement.style.setProperty('--wrapper-color', '#282a2c')
            document.documentElement.style.setProperty('--h1dangky-color', '#bdc1c6')
            document.documentElement.style.setProperty('--input-color', '#282a2c')
            document.documentElement.style.setProperty('--text-color', '#bdc1c6')
            document.documentElement.style.setProperty('--member-color', '#bdc1c6')
            document.documentElement.style.setProperty('--background-color-2', '#1b1b1b')
        }

        function setToLightMode() {
            document.documentElement.style.setProperty('--wrapper-color', 'whitesmoke')
            document.documentElement.style.setProperty('--h1dangky-color', '#07001f')
            document.documentElement.style.setProperty('--input-color', '#e4e4e4')
            document.documentElement.style.setProperty('--text-color', '#07001f')
            document.documentElement.style.setProperty('--background-color-2', '#e9eef6')
        }

        if (localStorage.getItem('theme') == 'dark') {
            setToDarkMode()
        }
    </script>

    <script defer src="javascripts\p_sign_up.js"></script>

</head>

<body>
    <div class="wrapper">
        <h1>Đăng Ký</h1>
        <form>
            <div class="tab1">
                <input type="text" placeholder="Tên đăng nhập" id="username">
                <p class="err_view username"></p>
                <input type="text" placeholder="Mật khẩu" id="pass">
                <p class="err_view pass"></p>
                <input type="text" placeholder="Email" id="email">
                <p class="err_view email"></p>
            </div>

            <div class="tab2" style="display: none;">
                <input type="text" placeholder="Họ Tên" id="display_name">
                <p class="err_view display_name"></p>
                <input type="text" placeholder="Mã Sinh Viên" id="mssv">
                <p class="err_view mssv"></p>
                <!-- <input type="text" placeholder="Khao" id="khoa"> -->
                <div class="select-box khoa" id="khoa" placeholder="Chọn khoa"></div>
                <p class="err_view khoa"></p>
                <div class="select-box khoa" id="lop" placeholder="Chọn lop"></div>
                <p class="err_view lop"></p>
            </div>
            
            <div class="tab3" style="display: none;">
                <div class="otp-box">
                    <div id="inputs" class="inputs">
                        <input class="input" type="text" inputmode="numeric"/>
                        <input class="input" type="text" inputmode="numeric"/>
                        <input class="input" type="text" inputmode="numeric"/>
                        <input class="input" type="text" inputmode="numeric"/>
                        <input class="input" type="text" inputmode="numeric"/>
                    </div>
                </div>
                <p class="err_view otp"></p>
            </div>
        </form>
        <div class="err" id="err"></div>
        <button onclick="next()" class="next">Đăng ký</button>
        <div class="line"></div>
        <button onclick="" class="sguacc">Đăng ký với tài khoản trường</button>
        <div class="member">
            Đã có tài khoản ? <a href="./sign_in">Đăng nhập</a>
        </div>
    </div>
</body>

</html>