<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký tài khoản</title>

    <link rel="stylesheet" href="stylesheets\sign_in_up.css">

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
<div class="wrapper">
    <h1>Đăng Ký</h1>
    <form action="#">
        <input type="text" placeholder="Tên đăng nhập">
        <input type="text" placeholder="Mật khẩu">
        <input type="text" placeholder="Nhập lại mật khẩu">
        <input type="text" placeholder="Gmail">
    </form>
    <button>Đăng ký</button>
    <div class="member">
        Đã có tài khoản ? <a href="./sign_in.html">Đăng nhập</a>
    </div>
</div>
</body>
</html>