
:root {
    --main-color: #e9eef6;
    --text-color: rgb(60,64,67);
    --text-color-2: rgb(91, 95, 99);
    --hover-back: rgba(0,0,0,0.05);
    --color-hover: rgb(75, 79, 82);
    --main-backe: #f5f5f5;
    --hairline: rgb(218,220,224);
    --primary: rgb(26,115,232);
    --silver: #e4e4e4;

    --add-button-shadow:  0px 4px 4px 0px rgba(60,64,67,0.3),0px 8px 12px 6px rgba(60,64,67,0.15);
    --main-box-shadow: 0 4px 8px 3px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);

}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--main-backe);
}

.menubar {
    user-select: none !important;
    padding: 10px;
    background: var(--main-color);
    position: relative;
    width: 100%;
    height: 50px;
    transition: 0.05s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menubar .menubar-icon i {
    color: var(--text-color);
}
.menubar .menubar-icon {
    height: 37px;
    width: 37px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar .menubar-icon:hover {
    background-color: var(--hover-back);
}

.menubar .menubar-icon i {
    font-size: 25px;
}

.menubar .menubar-item {
    position: relative;
}

.menubar .menubar-item + .menubar-item {
    margin-left: 10px;
}

.menubar .menubar-menu {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menubar .menubar-menu span {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
}

.menubar .menubar-menu:hover {
    border-radius: 5px;
    background-color: var(--hover-back);
}

.menubar .menubar-menu:hover ~ .popup {
    display: block;
}

.menubar .popup {
    padding: 5px;
    top: 100%;
    box-shadow: var(--main-box-shadow);
    width: max-content;
    position: absolute;
    background: var(--main-color);
    border-radius: 5px;
    display: none;
    z-index: 100;
}

.menubar .popup a { 
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-color);
}

.menubar .popup div:hover {
    background-color: var(--hover-back);
    border-radius: 5px;

}

.menubar .popup div {
    padding: 5px 0;
}

/*Popup - Thêm học phần*/

.menubar .button_themhocphan{
    cursor: pointer;
}

.popupcontainer{
    position: absolute;
    width: 100%;
    z-index: 100;
}

.popupcontainer .popupthemhocphan{
    position: absolute;
    width: 400px;
    margin-left: 3%;
    top: -95px;
    background: var(--main-color);
    border-radius: 20px;
    color: var(--text-color);
    box-shadow: var(--main-box-shadow);
    opacity: 0;
    transform: scale(0.1);
}

.popupthemhocphan.active{
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s ease;
    transform: scale(1);
    margin-left: 14.5%;
    top: -30px;
}


.popupcontainer .popupthemhocphan input{
    border-radius: 10px;
    background: var(--silver);
    border: var(--silver);
    padding: 4px 12px;
}

.popupcontainer .popupthemhocphan input::placeholder{
    margin-left: 20px;
}

.popupcontainer .popupthemhocphan .show_hocphan .box_hocphan{
    background: var(--silver);
    border-radius: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 100px;
}

.popupcontainer .popupthemhocphan h1{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.popupcontainer .popupthemhocphan .ma_hocphan,
.popupcontainer .popupthemhocphan .search,
.popupcontainer .popupthemhocphan .show_hocphan h2{
    margin-left: 10px;
    margin-bottom: 5px;
}

.popupcontainer .popupthemhocphan h2{
    margin-left: 10px;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 5px;
}

.popupcontainer .popupthemhocphan .close_themhocphan{
    font-size: 20px;
    margin-left: 180px;
    margin-bottom: 5px;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}

/*Popup - Thêm học phần*/

.menubar .menubar-right-elem {
    margin-left: auto;
    display: flex;
    position: relative;
}

.menubar .menubar-right-elem div.menubar-right-item {
    padding: 3px;
}

.menubar .menubar-right-elem div.menubar-right-item + div.menubar-right-item {
    margin-left: 10px;
}

.menubar .menubar-right-elem .menubar-right-item .menubar-menu:hover {
    background-color: var(--hover-back);
    border-radius: 50%;
}

.menubar .menubar-right-elem .menubar-right-item .menubar-menu:hover i {
    color: var(--color-hover);
}

.menubar .menubar-right-elem i {
    color: var(--text-color);
    font-size: 25px;
}

.menubar .menubar-right-elem .share {
    -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}

.menubar .menubar-right-elem .accout-popup {
    position: absolute;
    padding: 5px;
    top: 100%;
    right: 5px;
    background: var(--main-color);
    box-shadow: var(--main-box-shadow);
    width: max-content;
    border-radius: 5px;
}

.menubar .menubar-right-elem .accout-popup .user-info p.line {
    margin-top: 5px;
    font-size: 13px;
}

.menubar .menubar-right-elem .accout-popup .user-info .mssv {
    color: var(--text-color-2);
    font-size: 10px;
    padding-left: 5px;
}

.menubar .menubar-right-elem .accout-popup .br {
    width: 100%;
    height: 1px;
    background: black;
    margin: 2px 0px 5px;
}

.menubar .menubar-right-elem .accout-popup .logout {
    cursor: pointer;
    font-size: 14px;
}

.menubar .menubar-right-elem .accout-popup .logout:hover {
    text-decoration: underline;
}

.main-body {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}

.main-body .siderbar {
    height: 100%;
    width: 256px;
    transition: all 0.05s ease-in-out;
    overflow: hidden;
    flex-shrink: 0
}

.main-body .siderbar.close {
    width: 0px !important;
}

.main-body .tkb {
    width: 100%;
    height: 100%;
}

.main-body .tkb > table {
    user-select: none !important;
    height: 100%;
    width: calc(100% - 10px);
    color: var(--text-color);
    table-layout:fixed;
    border-collapse: collapse;
    margin-left: 10px;
}

.main-body .tkb > table tr.header {
    border-bottom: 1px var(--hairline) solid;
}

.main-body .tkb > table tr.header th {
    height: 80px;
    text-align: center;
}

.main-body .tkb > table tr.header th:nth-child(1) {
    width: 70px;
}

.main-body .tkb > table tr.tiet td:nth-child(1) {
    text-align: right;
}

.main-body .tkb > table tr.tiet td:nth-child(1) span {
    padding-right: 10px;
    font-size: 13px;
    color: var(--text-color-2);
}

.main-body .tkb th .header-th span {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: var(--primary);
    align-items: center;
    display: flex;
    justify-content: center;
}
.main-body .tkb th .header-th {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--main-backe);
}



.main-body .tkb th .header-th::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--hairline);
    height: 30%;
    width: 1px;
    transform: translateX(-100%);
}

/* TODO remove */
/* .main-body .tkb > table tr.tiet td .tiet-item {
    border: 1px black solid;
} */

.main-body .tkb > table tr.tiet {
    height: calc(100% / 14);
}


.main-body .tkb > table tr td {
    position: relative;
}


.main-body .tkb > table tr.tiet td .tiet-item {
    padding: 5px;
    font-size: 14px;
    /* overflow:hidden; */

}

.main-body .tkb > table tr.tiet td .tiet-item span {
    font-weight: bold;
}

.main-body .tkb > table tr.tiet td .tiet-item {
    width: 100%;
    height: 100%;
}

.main-body .tkb > table tr.tiet td .tiet-item.haveitem {
    border-radius: 5px;
    /* TODO chang to var() */
    background-color: rgb(3, 155, 229);
    width: calc(100% - 5px);

}
.main-body .tkb > table tr.tiet td .tiet-item.haveitem.th {
    background-color: rgb(230, 124, 115);
}

.main-body .tkb > table tr.tiet td .tiet-item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: var(--hairline);
    height: 100%;
    width: 1px;
    transform: translateX(-100%);
}

#add-button {
    position: absolute;
    height: 50px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    background-color: var(--main-color);
    box-shadow: var(--main-box-shadow);
    top: 100%;
    transform: translateY(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 15px;
    transition: all 0.1s;
}

#add-button.close {
    width: 50px;
}

#add-button:hover {
    box-shadow: var(--add-button-shadow);
}
#add-button:hover span,
#add-button:hover i {
    color: var(--text-color-2);
}

#add-button.close span {
    display: none;
}

#add-button i {
    font-size: 40px;
    color: var(--text-color);
}

#add-button span {
    color: var(--text-color);
    font-size: 15px;
    margin-left: 10px;
}

#siderbar {
    border-right: 2px var(--main-color) solid;
}


#siderbar .add-button-wallper {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.siderbar .siderbar-body {
    height: calc(100% - 80px);
    width: 100%;
}


.siderbar .siderbar-body .ls {
    margin: 0 20px 0 10px;
}


/* ====================================================== */

.siderbar .siderbar-body .hp {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    height: 40px;
}

.siderbar .siderbar-body .hp i {
    color: var(--text-color);
    font-size: 25px;
}

.siderbar .siderbar-body .hp .name {

    color: var(--text-color);

    margin-left: 5px;
    text-wrap: nowrap;
}

.siderbar .siderbar-body .hp .ct {
    color: var(--text-color);
    margin-left: auto;
}