
:root {
    --main-color: #e9eef6;
    --text-color: rgb(60,64,67);
    --text-color-2: rgb(91, 95, 99);
    --hover-back: rgba(0,0,0,0.05);
    --color-hover: rgb(75, 79, 82);
    --main-backe: whitesmoke;

    --main-box-shadow: 0 4px 8px 3px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.3);
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: var(--main-backe);
}

.menubar {
    padding: 10px;
    background: var(--main-color);
    position: relative;
    width: 100%;
    height: 50px;
    transition: 0.05s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menubar .menubar-icon i {
    color: var(--text-color);
}
.menubar .menubar-icon {
    height: 37px;
    width: 37px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar .menubar-icon:hover {
    background-color: var(--hover-back);
}

.menubar .menubar-icon i {
    font-size: 25px;
}

.menubar .menubar-item {
    position: relative;
}

.menubar .menubar-item + .menubar-item {
    margin-left: 10px;
}

.menubar .menubar-menu {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menubar .menubar-menu span {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
}

.menubar .menubar-menu:hover {
    border-radius: 5px;
    background-color: var(--hover-back);
}

.menubar .menubar-menu:hover ~ .popup {
    display: block;
}

.menubar .popup {
    padding: 5px;
    top: 100%;
    box-shadow: var(--main-box-shadow);
    width: max-content;
    position: absolute;
    background: var(--main-color);
    border-radius: 5px;
    display: none;
}

.menubar .popup a { 
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-color);
}

.menubar .popup div:hover {
    background-color: var(--hover-back);
    border-radius: 5px;

}

.menubar .popup div {
    padding: 5px 0;
}

.menubar .menubar-right-elem {
    margin-left: auto;
    display: flex;
    position: relative;
}

.menubar .menubar-right-elem div.menubar-right-item {
    padding: 3px;
}

.menubar .menubar-right-elem div.menubar-right-item + div.menubar-right-item {
    margin-left: 10px;
}

.menubar .menubar-right-elem .menubar-right-item .menubar-menu:hover {
    background-color: var(--hover-back);
    border-radius: 50%;
}

.menubar .menubar-right-elem .menubar-right-item .menubar-menu:hover i {
    color: var(--color-hover);
}

.menubar .menubar-right-elem i {
    color: var(--text-color);
    font-size: 25px;
}

.menubar .menubar-right-elem .share {
    -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}

.menubar .menubar-right-elem .accout-popup {
    position: absolute;
    padding: 5px;
    top: 100%;
    right: 5px;
    background: var(--main-color);
    box-shadow: var(--main-box-shadow);
    width: max-content;
    border-radius: 5px;
}

.menubar .menubar-right-elem .accout-popup .user-info p.line {
    margin-top: 5px;
    font-size: 13px;
}

.menubar .menubar-right-elem .accout-popup .user-info .mssv {
    color: var(--text-color-2);
    font-size: 10px;
    padding-left: 5px;
}

.menubar .menubar-right-elem .accout-popup .br {
    width: 100%;
    height: 1px;
    background: black;
    margin: 2px 0px 5px;
}

.menubar .menubar-right-elem .accout-popup .logout {
    cursor: pointer;
    font-size: 14px;
}

.menubar .menubar-right-elem .accout-popup .logout:hover {
    text-decoration: underline;
}

.main-body {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
}

.main-body .siderbar {
    height: 100%;
    width: 23%;
    background: red;
    transition: all 0.05s ease-in-out;
    
    overflow: hidden;
}

.main-body .siderbar.close {
    width: 0px !important;
}

.main-body .tkb {
    width: 100%;
    background: blue;
    height: 100%;
}