
:root {
    --main-color: #e9eef6;
    --text-color: rgb(60,64,67);
    --text-color-2: rgb(91, 95, 99);
    --hover-back: rgba(0,0,0,0.05);
    --color-hover: rgb(75, 79, 82);
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: white;
}

.sidebar {
    padding: 20px;
    background: var(--main-color);
    position: relative;
    width: 100%;
    height: 45px;
    transition: 0.05s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar .sidebar-item {
    position: relative;
}

.sidebar .sidebar-item + .sidebar-item {
    margin-left: 10px;
}

.sidebar .sidebar-menu {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar .sidebar-menu span {
    text-decoration: none;
    align-items: center;
    font-size: 15px;
    color: var(--text-color);
}

.sidebar .sidebar-menu:hover {
    border-radius: 5px;
    background-color: var(--hover-back);
}

.sidebar .sidebar-menu:hover ~ .popup {
    display: block;
}

.sidebar .popup {
    padding: 5px;
    top: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 3px;
    width: max-content;
    position: absolute;
    background: var(--main-color);
    border-radius: 5px;
    display: none;
}

.sidebar .popup a { 
    padding: 0 20px;
    text-decoration: none;
    color: var(--text-color);
}

.sidebar .popup div:hover {
    background-color: var(--hover-back);
    border-radius: 5px;

}

.sidebar .popup div {
    padding: 5px 0;
}

.sidebar .siderbar-right-elem {
    margin-left: auto;
    display: flex;
    position: relative;
}

.sidebar .siderbar-right-elem div {
    padding: 3px;
}

.sidebar .siderbar-right-elem div + div {
    margin-left: 10px;
}

.sidebar .siderbar-right-elem .siderbar-right-item .sidebar-menu:hover {
    background-color: var(--hover-back);
    border-radius: 50%;
}

.sidebar .siderbar-right-elem .siderbar-right-item .sidebar-menu:hover i {
    color: var(--color-hover);
}

.sidebar .siderbar-right-elem i {
    color: var(--text-color);
    font-size: 25px;
}

.sidebar .siderbar-right-elem .share {
    -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}

.sidebar .siderbar-right-elem .accout-popup {
    position: absolute;
    padding: 5px;
    top: 100%;
    right: 5px;
    background: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0 3px;
    width: max-content;
    border-radius: 5px;
}

.sidebar .siderbar-right-elem .accout-popup .user-info p..line {
    
}

.sidebar .siderbar-right-elem .accout-popup .user-info .mssv {
    color: var(--text-color-2);
    font-size: 10px;
    padding-left: 5px;
}

