* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.9rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --wrapper-color:whitesmoke;
  --h1dangky-color:#07001f;
  --input-color:#e4e4e4;
  --text-color:#07001f;
  --member-color:#07001f;
  --main-color: #e9eef6;
}

body {
  background: var(--main-color);
}

.wrapper {
  background: var(--wrapper-color);
  width: 500px;
  padding: 2rem 1rem;
  margin: 100px auto;
  text-align: center;
  border-radius: 20px;
}

h1 {
  margin-bottom: 20px;
  color: var(--h1dangky-color);
}

.wrapper form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.wrapper form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper form .tab1 input[type=text],
.wrapper form .tab2 input[type=text] {
  height: 53px;
  border-radius: 20px;
  font-size: 20px;
  width: 80%;
  border: 1px solid #fff;
  background: var(--input-color);
  padding: 10px 20px;
  color: var(--text-color);
}
.wrapper form .tab1 input[type=text].err,
.wrapper form .tab2 input[type=text].err {
  outline-color: #ff3333;
}
.wrapper form ::placeholder {
  color: gray;
}
.wrapper .err_view {
  text-align: left;
  padding: 0px 12%;
  color: #ff3333;
  height: 25px;
  font-weight: bold;
  width: 95%;
}
.wrapper button {
  width: 80%;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 10px 10px;
  color: #fff;
  margin-bottom: 20px;
  background: rgb(17, 107, 143);
}
.wrapper button.sguacc {
  background-color: #8ab4f8;
}
.wrapper button:hover {
  background: rgba(17, 107, 143, 0.877);
}
.wrapper button.sguacc:hover {
  background-color: #8ab4f8;
}
.wrapper .line {
  height: 1px;
  margin: 0px 90px;
  background-color: gray;
  transform: translatey(-10px);
}
.wrapper .dang_ky, .wrapper .quen_mat_khau {
  margin-bottom: 10px;
  text-align: right;
  margin-right: 50px;
}
.wrapper a {
  text-decoration: none;
  color: #8ab4f8;
}
.wrapper .member, .wrapper .dang_ky, .wrapper .quen_mat_khau {
  text-align: right;
  margin-right: 50px;
  color: var(--member-color);
}

/*
.wrapper input:focus{
    border: 1px solid black;
}
 */
.select-box {
  height: 53px;
  border-radius: 20px;
  font-size: 20px;
  width: 80%;
  border: 1px solid #fff;
  background: var(--input-color);
  color: var(--text-color);
  padding: 0 20px;
  position: relative;
}
.select-box .selected {
  height: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  overflow: hidden;
}
.select-box .selected[id_sele=null] {
  color: gray;
}
.select-box .selec-popup {
  position: absolute;
  width: max-content;
  transform: translate(-20px, 10px);
  border-radius: 15px;
  background: var(--input-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 18px;
  z-index: 2;
  height: fit-content;
  max-height: 300px;
  min-width: 100%;
  display: none;
}
.select-box .selec-popup.open {
  display: block;
}
.select-box .selec-popup .search input {
  color: var(--text-color);
  margin-top: 10px;
  width: 95%;
  padding: 5px 10px;
  background-color: transparent;
  border: transparent;
  border: 1px solid gray;
  border-radius: 10px;
  outline: transparent;
  font-size: 20px;
}
.select-box .selec-popup .option-container {
  padding: 10px 0;
  max-height: 245px;
  height: fit-content;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
.select-box .selec-popup .option-container .option {
  margin: 0 20px;
  border-radius: 10px;
}
.select-box .selec-popup .option-container .option:hover {
  background: #8ab4f8;
  color: #07001f;
}
.select-box .selec-popup .option-container .option label {
  padding: 5px;
  height: 100%;
  display: block;
  width: 100%;
  text-align: left;
}
.select-box .selec-popup .option-container .option input[type=radio] {
  display: none;
}

.tab3 {
  min-height: 300px;
  display: flex;
  justify-content: center;
}
.tab3 .otp-box {
  height: 53px;
  border-radius: 20px;
  font-size: 20px;
  width: 80%;
  padding: 0 20px;
  position: relative;
}
.tab3 .otp-box .input {
  background: transparent;
  width: 40px;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  margin: 0 10px;
  text-align: center;
  font-size: 36px;
  cursor: not-allowed;
  pointer-events: none;
}
.tab3 .otp-box .input:focus {
  border-bottom: 3px solid orange;
  outline: none;
}
.tab3 .otp-box .input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}
