@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --background-color-2: #e9eef6;
    --text-color: rgb(60, 64, 67);
    --text-color-2: rgb(91, 95, 99);
    --hover-color: rgba(0, 0, 0, 0.05);
    --color-hover: rgb(75, 79, 82);
    --background-color-1: #f5f5f5;
    --height-line-color: rgb(218, 220, 224);
    --primary: rgb(26, 115, 232);
    --silver: #e4e4e4;
    --add-button-shadow: 0rem 0.25rem 0.25rem 0rem rgba(60, 64, 67, 0.3), 0rem 0.5rem 0.75rem 0.375rem rgba(60, 64, 67, 0.15);
    --main-box-shadow: 0 0.25rem 0.5rem 0.1875rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--background-color-1);
    height: 100vh;
}

.menubar {
    height: 3.125rem;
    background-color: var(--background-color-2);
    display: flex;
    justify-content: space-between;
    position: relative;
    
    color: var(--text-color);

    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.301);
    .left {
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        img {
            margin: calc(0.3125rem / 2);
            height: 1.875rem;
            width: 1.875rem;
        }
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--background-color-1);
        display: flex;
        align-items: center;
        padding: 0 0.625rem;
        border-radius: 0.3125rem;
        width: 40%;
        max-width: 31.25rem;
        i {
            font-size: 1.5625rem;
            color: var(--text-color-2);
        }

        input {
            color: var(--text-color);
            background: transparent;
            height: 2.1875rem;
            border: none;
            outline: none;
            width: calc(100% - 1.5625rem - 0.3125rem);
            margin-left: 0.3125rem;
        }

    }

    .right {
        margin-right: 0.5rem;
        display: flex;
        position: relative;
        align-items: center;

        .menubar-menu {
            padding: 0.3125rem;
            height: 1.5625rem;
            cursor: pointer;
        }

        .menubar-menu:hover {
            background-color: var(--hover-color);
            border-radius: 1.09375rem;
    
            i, p {
                color: var(--color-hover);
            }
        }

        div.menubar-right-item {
            padding: 0.1875rem;
    
            +div.menubar-right-item {
                margin-left: 0.625rem;
            }
        }

        i {
            color: var(--text-color);
            font-size: 1.563rem;
            height: 1.563rem;
            width: 1.563rem;
        }

        .accout-popup {
            position: absolute;
            z-index: 100;
            padding: 0.3125rem;
            top: 100%;
            right: 0.3125rem;
            background: var(--background-color-2);
            box-shadow: var(--main-box-shadow);
            width: max-content;
            border-radius: 0.3125rem;
            color: var(--text-color);
            .user-info {
                p.line {
                    margin-top: 0.3125rem;
                    font-size: 0.813rem;
                }
    
                .mssv {
                    color: var(--text-color-2);
                    font-size: 0.625rem;
                    padding-left: 0.3125rem;
                }
            }
    
            .br {
                width: 100%;
                height: 0.0625rem;
                background: var(--text-color-2);
                margin: 0.125rem 0rem 0.3125rem;
            }
    
            .logout {
                cursor: pointer;
                font-size: 0.875rem;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


.body {
    
    height: calc(100% - 3.125rem);
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: gray  transparent;



    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .saved {
        height: 100%;
        background-color: var(--background-color-2);
    }

    .wall {
        .head {
            width: calc(100% - 1.25rem);
            color: var(--text-color);
            padding: 0.625rem;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .title {
                span {
                    font-size: 1rem;
                    font-weight: bold;
                }
            }


            .tool {
                .tool-item
                {
                    display: inline-block;
                    i {
                        font-size: 1.25rem;
                    } 
                }
            }
        }
        .list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
            min-width: 50rem;
          

            .list-tiem {
                border-radius: 0.3125rem;
                margin: 0.625rem;
                overflow: hidden;
                position: relative;
                box-shadow: var(--main-box-shadow);

                &.new_black .thumbnail{
                    background-color: var(--background-color-2);
                }

                .thumbnail {
                    height: 9rem;
                    width: 12.5rem;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 0.3125rem;
                    }
                }

                .info {
                    
                    color: var(--text-color);
                    padding: 0.3125rem;

                    p {
                        width: calc(100% - 1.875rem);
                    }

                    .name {
                        font-size: 1.0625rem;
                        font-weight: bold;
                    }

                    .auth {
                        font-size: 0.8125rem;
                        color: var(--text-color-2);
                    }
                }

                .more {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.25rem;
                    width: 1.25rem;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin: 0.625rem;

                    &:hover {
                        border-radius: 50%;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
            }
    }

    .template .wall .list-tiem {
        border: 0.0625rem transparent solid;
        border-radius: 0.3125rem;
        margin: 0.625rem;

        .thumbnail {
            
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: var(--text-color);

                font-size: 5.625rem;
            }
        }
    }
}

.body-info {

    height: calc(100% - 3.125rem);
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: gray  transparent;

    .block-content {
        width: 100%;
        height: 31.25rem;
        display: flex;
        background-color: var(--background-color-2);
        align-items: center;
        justify-content: space-around;

        &.flo {
            height: 4.375rem;
        }

        &:nth-child(odd) {
            background: var(--background-color-1);
        }

        > img {
            width: 39.5rem;
            height: 24.375rem;
            border-radius: 0.3125rem;

            &.boxshadow {
                box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.26);
            }
        }

        .content {
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            padding: 0.625rem;
            h2 {
                color: var(--text-color);
                font-size: 3rem;
                
                display: flex;
                align-items: center;

                img {
                    height: 4.625rem;
                    width: 4.625rem;
                    margin-right: 0.625rem;
                }
            }

            .line1 {
                font-size: 1.5625rem;
                font-weight: lighter;
                color: var(--text-color-2);
            }


            .line2 {
                font-size: 1.25rem;
                font-weight: lighter;
                color: var(--text-color-2);
            }

            li {
                margin-left: 1.875rem;
            }

            button.start {
                width: 12.5rem;
                height: 3.125rem;
                background: var(--primary);
                border: none;
                border-radius: 0.625rem;
                font-size: 1.25rem;
                font-weight: bold;
                color: white;

                cursor: pointer;
            }
        }

        span {
            color: var(--text-color);
            display: flex;
            align-items: center;
            i {
                margin: 0.625rem;
                font-size: 1.25rem;
            }
        }
    }
}