@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --background-color-2: #e9eef6;
    --text-color: rgb(60, 64, 67);
    --text-color-2: rgb(91, 95, 99);
    --hover-color: rgba(0, 0, 0, 0.05);
    --color-hover: rgb(75, 79, 82);
    --background-color-1: #f5f5f5;
    --height-line-color: rgb(218, 220, 224);
    --primary: rgb(26, 115, 232);
    --silver: #e4e4e4;
    --add-button-shadow: 0px 4px 4px 0px rgba(60, 64, 67, 0.3), 0px 8px 12px 6px rgba(60, 64, 67, 0.15);
    --main-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

body {
    background-color: var(--background-color-1);
    height: 100vh;
}

.menubar {
    height: 50px;
    background-color: var(--background-color-2);
    display: flex;
    justify-content: space-between;
    position: relative;
    
    color: var(--text-color);
    .left {
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        img {
            margin: calc(5px / 2);
            height: 30px;
            width: 30px;
        }
    }

    .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: var(--background-color-1);
        display: flex;
        align-items: center;
        padding: 0 10px;
        border-radius: 5px;
        width: 40%;
        max-width: 500px;
        i {
            font-size: 1.5625rem;
            color: var(--text-color-2);
        }

        input {
            color: var(--text-color);
            background: transparent;
            height: 35px;
            border: none;
            outline: none;
            width: calc(100% - 1.5625rem - 5px);
            margin-left: 5px;
        }

    }

    .right {
        margin-right: 8px;
        display: flex;
        position: relative;
        align-items: center;

        .menubar-menu {
            padding: 5px;
            height: 1.5625rem;
            cursor: pointer;
        }

        .menubar-menu:hover {
            background-color: var(--hover-color);
            border-radius: 17.5px;
    
            i, p {
                color: var(--color-hover);
            }
        }

        div.menubar-right-item {
            padding: 3px;
    
            +div.menubar-right-item {
                margin-left: 10px;
            }
        }

        i {
            color: var(--text-color);
            font-size: 1.563rem;
            height: 1.563rem;
            width: 1.563rem;
        }

        .accout-popup {
            position: absolute;
            z-index: 100;
            padding: 5px;
            top: 100%;
            right: 5px;
            background: var(--background-color-2);
            box-shadow: var(--main-box-shadow);
            width: max-content;
            border-radius: 5px;
            color: var(--text-color);
            .user-info {
                p.line {
                    margin-top: 5px;
                    font-size: 0.813rem;
                }
    
                .mssv {
                    color: var(--text-color-2);
                    font-size: 0.625rem;
                    padding-left: 5px;
                }
            }
    
            .br {
                width: 100%;
                height: 1px;
                background: var(--text-color-2);
                margin: 2px 0px 5px;
            }
    
            .logout {
                cursor: pointer;
                font-size: 0.875rem;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}


.body {
    
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;


    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .saved {
        height: 100%;
        background-color: var(--background-color-2);
    }

    .wall {
        .head {
            width: calc(100% - 20px);
            color: var(--text-color);
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;


            .title {
                span {
                    font-size: 16px;
                    font-weight: bold;
                }
            }


            .tool {
                .tool-item
                {
                    display: inline-block;
                    i {
                        font-size: 20px;
                    } 
                }
            }
        }
        .list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;

          

            .list-tiem {
                border: 1px gray solid;
                border-radius: 5px;
                margin: 10px;
                overflow: hidden;
                position: relative;

                &:hover {
                    border-color: var(--primary);
                }

                &.new_black .thumbnail{
                    background-color: var(--background-color-2);
                }

                .thumbnail {
                    height: 144px;
                    width: 200px;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .info {
                    
                    color: var(--text-color);
                    padding: 5px;

                    p {
                        width: calc(100% - 30px);
                    }

                    .name {
                        font-size: 17px;
                        font-weight: bold;
                    }

                    .auth {
                        font-size: 13px;
                        color: var(--text-color-2);
                    }
                }

                .more {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    margin: 10px;

                    &:hover {
                        border-radius: 50%;
                        background-color: var(--text-color-2);
                    }
                }
            }
            }
        .saved {
            
        }
    }

    .template .wall .list-tiem {
        border: 1px transparent solid;
        border-radius: 5px;
        margin: 10px;

        .thumbnail {
            
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                color: var(--text-color);

                font-size: 90px;
            }
        }
    }
}