@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    --background-color-2: #e9eef6;
    --background-color-1: #f5f5f5;
    --text-color: #3c4043;
    --text-color-2: #5b5f63;
    --hover-color: rgba(0, 0, 0, 0.05);
    --color-hover: rgb(75, 79, 82);
    --height-line-color: rgb(218, 220, 224);
    --primary: rgb(26, 115, 232);
    --silver: #e4e4e4;
    --add-button-shadow: 0rem 0.25rem 0.25rem 0rem rgba(60, 64, 67, 0.3), 0rem 0.5rem 0.75rem 0.375rem rgba(60, 64, 67, 0.15);
    --main-box-shadow: 0 0.25rem 0.5rem 0.1875rem rgba(0, 0, 0, 0.15), 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
    --popup-shadow: 0 1.5rem 2.375rem 0.1875rem rgba(0, 0, 0, .14), 0 0.5625rem 2.875rem 0.5rem rgba(0, 0, 0, .12), 0 0.6875rem 0.9375rem -0.4375rem rgba(0, 0, 0, .2);

    --err-color: 220, 53, 69;
    --info-color: 23, 162, 184;
    --warning-color: 255, 193, 7;
    --success-color: 40, 167, 69;

    --width-siderbar: 16rem;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background-color-1);
}

.menubar {
    user-select: none !important;
    padding: 0.625rem;
    background: var(--background-color-2);
    position: relative;
    width: 100%;
    height: 3.125rem;
    transition: 0.05s;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .menubar-icon {
        i {
            color: var(--text-color);
        }

        height: 2.3125rem;
        width: 2.3125rem;
        margin-right: 0.625rem;
        padding: 0.3125rem;
        border-radius: 0.625rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: var(--hover-color);
        }

        i {
            font-size: 1.563rem;
        }
    }

    .menubar-item {
        position: relative;

        +.menubar-item {
            margin-left: 0.625rem;
        }
    }

    .menubar-menu {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.3125rem;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
            text-decoration: none;
            align-items: center;
            font-size: 0.938rem;
            color: var(--text-color);
        }

        &:hover {
            border-radius: 0.3125rem;
            background-color: var(--hover-color);

            ~.popup {
                display: block;
            }
        }
    }

    .popup {
        padding: 0.3125rem;
        top: 100%;
        box-shadow: var(--main-box-shadow);
        width: max-content;
        position: absolute;
        background: var(--background-color-2);
        border-radius: 0.3125rem;
        display: none;
        z-index: 100;

        a {
            padding: 0 1.25rem;
            text-decoration: none;
            color: var(--text-color);
        }

        li {
            padding: 0 1.25rem;
            text-decoration: none;
            color: var(--text-color);
            display: block;
        }

        div {
            &:hover {
                background-color: var(--hover-color);
                border-radius: 0.3125rem;
            }

            padding: 0.3125rem 0;
        }
    }

    .menubar-right-elem {
        margin-left: auto;
        display: flex;
        position: relative;

        div.menubar-right-item {
            padding: 0.1875rem;

            +div.menubar-right-item {
                margin-left: 0.625rem;
            }
        }

        .menubar-right-item .menubar-menu:hover {
            background-color: var(--hover-color);
            border-radius: 1.09375rem;

            i,
            p {
                color: var(--color-hover);
            }
        }

        i {
            color: var(--text-color);
            font-size: 1.563rem;
        }

        p {
            color: var(--text-color);
        }

        .share {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        .accout-popup {
            position: absolute;
            z-index: 100;
            padding: 0.3125rem;
            top: 100%;
            right: 0.3125rem;
            background: var(--background-color-2);
            box-shadow: var(--main-box-shadow);
            width: max-content;
            border-radius: 0.3125rem;
            color: var(--text-color);

            .user-info {
                p.line {
                    margin-top: 0.3125rem;
                    font-size: 0.813rem;
                }

                .mssv {
                    color: var(--text-color-2);
                    font-size: 0.625rem;
                    padding-left: 0.3125rem;
                }
            }

            .br {
                width: 100%;
                height: 0.0625rem;
                background: var(--text-color-2);
                margin: 0.125rem 0rem 0.3125rem;
            }

            .logout {
                cursor: pointer;
                font-size: 0.875rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    // chuyển xuốn dòng 452
}

.main-body {
    width: 100%;
    height: calc(100% - 3.125rem);
    display: flex;


    .siderbar {
        height: 100%;
        width: var(--width-siderbar);
        transition: all 0.05s ease-in-out;
        // overflow: hidden;
        flex-shrink: 0;

        &.close {
            width: 0rem !important;
        }

        &.close .info-filter {
            overflow: hidden;
            z-index: 10;
        }

        .info-filter {
            width: calc(var(--width-siderbar) - 0.375rem);
            height: 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 0.1875rem;
            position: relative;
            z-index: 11;

            &::before {
                content: '';
                height: 0.125rem;
                width: 90%;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background: var(--hover-color);
            }

            &::after {
                content: '';
                height: 0.125rem;
                width: 90%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                background: var(--hover-color);
            }

            span {
                color: var(--text-color);
                font-size: 1.0625rem;
                font-weight: bold;
            }

            .button-filter {
                display: block;
                height: 1.5625rem;
                width: 1.5625rem;
                cursor: pointer;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 0.625rem;
                    width: 0.625rem;
                    border-radius: 50%;
                    background: rgb(var(--err-color));
                }

                &.on::before {
                    background: rgb(var(--success-color));
                }

                i {
                    font-size: 1.5625rem;
                    color: var(--text-color);
                }
            }

            .button-filter-wall {
                position: relative;

                .popup-filter {
                    left: calc(100% + 0.625rem);
                    // transform: translateX(100%);
                    display: none;
                    height: 22.625rem;
                    background-color: var(--background-color-2);
                    padding: 0.3125rem;
                    position: absolute;
                    width: max-content;
                    border-radius: 0.625rem;
                    box-shadow: var(--popup-shadow);
                    z-index: 12;

                    &.show {
                        display: block;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 2.1875rem;

                        .left {
                            i {
                                cursor: pointer;
                                margin: 0 0.625rem;
                            }
                        }

                        .right {
                            height: 2.1875rem;
                            width: 2.1875rem;
                            cursor: pointer;

                            i {
                                font-size: 2.1875rem;
                            }
                        }
                    }

                    .context {
                        display: flex;
                        height: calc(100% - 2.1875rem);

                        .filter-item {
                            margin: 0 0.625rem;
                            &.gv {
                                width: 18.75rem;
                            }

                            &.hocphan {
                                width: 15.625rem;
                            }
                        }

                        .filter-item {

                            .title {
                                border-bottom: 0.1875rem var(--hover-color) solid;
                            }

                            .items {
                                height: calc(100% - 1.625rem);
                                overflow: auto;
                                font-weight: lighter;
                                margin-left: 0.625rem;
                                -ms-overflow-style: none;
                                /* IE and Edge */
                                scrollbar-width: none;
                                max-width: 15.625rem;
                                scrollbar-width: thin;
                                direction: rtl;
                                scrollbar-color: lightgrey transparent;

                                >div {
                                    direction: ltr;
                                }

                                li {
                                    display: block;

                                    &+li {
                                        margin-top: 0.3125rem;
                                    }
                                }

                                input {
                                    display: none;
                                }

                                label {
                                    border-left: 0.125rem rgb(var(--err-color)) solid;
                                    display: block;
                                    width: 100%;
                                    cursor: pointer;
                                    padding: 0 0.625rem;
                                    text-wrap: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                }

                                label:has(input:checked) {
                                    border-left: 0.125rem rgb(var(--success-color)) solid;
                                }
                            }
                        }
                    }
                }
            }

        }

        .siderbar-body {
            height: calc(100% - 7.5rem);
            width: calc(100% - 0.625rem);
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: transparent transparent;
            margin: 0 0 0 0.625rem;

            &:hover {
                scrollbar-color: var(--text-color-2) transparent;
            }

            .ls {
                width: 15.375rem;
            }

            .hp {
                flex-wrap: nowrap;
                padding: 0 0.875rem 0 0;

                +.hp {
                    margin-top: 0.3125rem;
                }

                .info {
                    user-select: none;
                    height: 2.5rem;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    // padding-left: 0.4375rem;
                    cursor: pointer;
                    font-size: 0.875rem;
                    padding: 0 0.3125rem 0 0.4375rem;


                    &:hover {
                        background-color: var(--hover-color);
                        border-radius: 0.3125rem;

                    }

                    .name {
                        color: var(--text-color);
                        text-wrap: nowrap;
                        max-width: 78%;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    .ct {
                        color: var(--text-color);
                        margin-left: auto;
                    }

                    i {
                        margin-left: 0.3125rem;
                        font-size: 1.563rem;
                        color: var(--text-color);
                        transform: rotate(180deg);

                        &.close {
                            transform: rotate(0);
                        }

                    }

                    i.bx-x:hover {
                        color: #ff3333;
                    }
                }


                .list-hp {
                    margin-top: 0.3125rem;
                    margin-left: 0.75rem;
                    color: var(--text-color);

                    &.close {
                        height: 0rem;
                        overflow: hidden;
                    }

                    .list-hp-item {
                        font-size: 0.875rem;
                        padding: 0.4375rem;
                        background-color: var(--hover-color);
                        border-radius: 0.3125rem;
                        cursor: pointer;

                        &.select {
                            outline: var(--primary) auto 0.0625rem;
                        }

                        &+.list-hp-item {
                            margin-top: 0.3125rem;
                        }

                        p {
                            line-height: 1.2rem;
                        }
                    }
                }


            }
        }


    }

    .tkb {
        width: 100%;
        height: 100%;
        background-color: var(--background-color-1);
        position: relative;
        z-index: 10;

        >table {
            user-select: none !important;
            height: 100%;
            width: calc(100% - 0.625rem);
            color: var(--text-color);
            table-layout: fixed;
            border-collapse: collapse;
            margin-left: 0.625rem;

            tr {
                &.header {
                    border-bottom: 0.0625rem var(--height-line-color) solid;

                    th {
                        height: 5rem;
                        text-align: center;

                        &:nth-child(1) {
                            width: 4.375rem;
                        }
                    }
                }

                &.tiet td:nth-child(1) {
                    text-align: right;

                    span {
                        padding-right: 0.625rem;
                        font-size: 0.813rem;
                        color: var(--text-color-2);
                    }
                }
            }
        }

        th .header-th {
            span {
                height: 3.125rem;
                width: 3.125rem;
                border-radius: 1.25rem;
                background: var(--primary);
                align-items: center;
                display: flex;
                justify-content: center;
            }

            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            color: var(--background-color-1);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background: var(--height-line-color);
                height: 30%;
                width: 0.0625rem;
                transform: translateX(-100%);
            }
        }

        >table tr {
            &.tiet {
                height: calc(100% / 14);
            }

            td {
                position: relative;
            }

            &.tiet td .tiet-item {
                color: #fff;
                padding: 0.3125rem;
                font-size: 0.875rem;

                /* overflow:hidden; */

                span {
                    font-weight: bold;
                }

                width: 100%;
                height: 100%;

                &.ghost {
                    opacity: 0.3;
                }

                &.haveitem {
                    border-radius: 0.3125rem;

                    /* TODO chang to var() */
                    background-color: rgb(3, 155, 229);
                    width: calc(100% - 0.3125rem);

                    &.th {
                        background-color: rgb(230, 124, 115);
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: var(--height-line-color);
                    height: 100%;
                    width: 0.0625rem;
                    transform: translateX(-100%);
                }
            }
        }
    }
}

/* TODO remove */
/* .main-body .tkb > table tr.tiet td .tiet-item {
      border: 0.0625rem black solid;
  } */

#add-button {
    position: absolute;
    height: 3.125rem;
    width: 12.5rem;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    padding: 0;
    margin: 0;
    background-color: var(--background-color-2);
    box-shadow: var(--main-box-shadow);
    top: 100%;
    transform: translateY(0.9375rem);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.9375rem;
    transition: all 0.1s;
    z-index: 13;
    cursor: pointer;

    &.active {
        width: 18.75rem;

        input {
            padding-left: 0.625rem;
            width: calc(100% - 3.125rem);
            border-radius: 0.625rem;
            border: none;
            outline: none;
            height: 100%;
            background: transparent;
            border: transparent;
            outline: none;
            font-size: 0.938rem;
            color: var(--text-color);
        }

        .icon_themhhocphan {
            padding: 0.3125rem;
            font-size: 1.875rem;
        }



        .search-suggest {
            max-height: calc(100vh - 18.75rem);
            padding: 0.625rem 0;
            // color: gray;
            scrollbar-width: thin;
            scrollbar-color: gray transparent;
            overflow-y: auto;
            position: absolute;
            width: max-content;
            height: fit-content;
            background-color: var(--background-color-2);
            top: 100%;
            left: 0;
            border-radius: 1.25rem;
            box-shadow: var(--main-box-shadow);
            transform: translateY(0.3125rem);
            z-index: 2;
            color: var(--text-color);
            overflow-y: auto;

            .search-option {
                padding: 0.5rem;
                font-size: 0.938rem;
                border-radius: 0.3125rem;
                margin: 0rem 0.625rem;
                text-align: left;
            }

            .search-option:hover {
                background: var(--hover-color);
            }
        }
    }

    &.active:hover {
        box-shadow: var(--main-box-shadow);

        span,
        i {
            color: var(--text-color);
        }
    }

    &.close {
        width: 3.125rem;
    }

    &:hover {
        box-shadow: var(--add-button-shadow);

        span,
        i {
            color: var(--text-color-2);
        }
    }

    &.close span {
        display: none;
    }

    i {
        font-size: 2.5rem;
        color: var(--text-color);
    }



    span.themhocphan {
        color: var(--text-color);
        font-size: 0.938rem;
        margin-left: 0.625rem;
        text-wrap: nowrap;

        font-weight: bold;

    }
}

#siderbar {
    border-right: 0.125rem var(--background-color-2) solid;

    .add-button-wallper {
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;
    }
}

/* ====================================================== */

#popup-area {
    height: 0rem;
    width: 0rem;

    >.popup-item {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background: rgba($color: #000000, $alpha: 0.3);
        z-index: 13;
    }

    .popup-item>.wall {
        max-width: 40.625rem;
        padding: 0.75rem 1.5rem;
        border-radius: 0.625rem;
        height: fit-content;
        width: fit-content;
        background-color: var(--background-color-1);
        box-shadow: var(--popup-shadow);
        ;

        .top {
            height: 2.375rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.625rem;

            span:nth-child(1) {
                color: var(--text-color);
                font-size: 1.25rem;
                font-weight: bolder;
            }

            span:nth-child(2) {
                cursor: pointer;
            }

            i {
                color: var(--text-color);
                font-size: 1.9375rem;
            }
        }

        .bottom {
            padding: 0.875rem 0rem 0.3125rem 0rem;
            display: flex;
            gap: 2.75rem;
            justify-content: center;

            button {
                height: 2.1875rem;
                width: 7.75rem;
                border: none;
                outline: none;
                border: 0.0625rem transparent solid;
                border-radius: 0.625rem;
                font-size: 0.9375rem;
                cursor: pointer;

                &.cancel {
                    border-color: var(--text-color);
                    background-color: transparent;
                    color: var(--text-color);
                }

                &.ok {
                    background-color: #3C33D8;
                    color: #fff;
                }
            }
        }


    }

    .save-tkb>.wall {

        .conten {
            display: flex;

            .fill {
                width: 100%;
                display: flex;
                gap: 0.9375rem;
                flex-direction: column;

                .input-text {
                    input {
                        padding-bottom: 0.125rem;
                        height: 1.375rem;
                        font-size: 1.125rem;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        padding-left: 0.625rem;
                        min-width: 80%;
                        width: fit-content;
                        border-bottom: 0.125rem var(--text-color-2) solid;
                        color: var(--text-color);
                    }
                }

                .type {
                    display: flex;
                    align-items: center;
                    gap: 0.375rem;

                    i {
                        color: var(--text-color);
                        font-size: 1.875rem;
                    }

                    .text {
                        p:nth-child(1) {
                            font-size: 1rem;
                            font-weight: bold;
                            color: var(--text-color);
                        }

                        p:nth-child(2) {
                            font-size: 0.8125rem;
                            color: var(--text-color-2);
                        }
                    }
                }

            }

            .thumbnail {
                display: flex;
                padding-left: 1.5rem;
                align-items: center;

                img {
                    width: 13.9375rem;
                    height: 7.875rem;
                    border-radius: 0.3125rem;
                    box-shadow: var(--main-box-shadow);
                }
            }
        }
    }


    .invite-link .conten {

        color: var(--text-color);

        .wall-link {
            margin-top: 0.625rem;
            width: 100%;
            background-color: var(--background-color-2);
            border-radius: 0.625rem;
            padding: 0.625rem;

            input {
                color: var(--text-color);
                width: 100%;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }
}

#notification {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: max-content;
    width: 30%;
    z-index: 200;

    .item-notification {
        margin-top: 0.625rem;
        height: 3.125rem;
        border-radius: 0.3125rem;
        display: flex;
        align-items: center;
        color: var(--text-color);
        overflow: hidden;
        background: var(--background-color-2);

        &.err {
            border-left: 0.625rem rgb(var(--err-color)) solid;

            .close {
                background: rgba(var(--err-color), 0.533);
            }

            .icon,
            .body {
                background: rgba(var(--err-color), 0.424);
            }
        }

        &.info {
            border-left: 0.625rem rgb(var(--info-color)) solid;

            .close {
                background: rgba(var(--info-color), 0.533);
            }

            .icon,
            .body {
                background: rgba(var(--info-color), 0.424);
            }
        }

        &.warning {
            border-left: 0.625rem rgb(var(--warning-color)) solid;

            .close {
                background: rgba(var(--warning-color), 0.533);
            }

            .icon,
            .body {
                background: rgba(var(--warning-color), 0.424);
            }
        }

        &.success {
            border-left: 0.625rem rgb(var(--success-color)) solid;

            .close {
                background: rgba(var(--success-color), 0.533);
            }

            .icon,
            .body {
                background: rgba(var(--success-color), 0.424);
            }
        }

        i {
            width: 1.875rem;
            height: 1.875rem;
            padding-left: 0.3125rem;
            font-size: 1.875rem;
            padding-right: 0.3125rem;
        }

        .icon,
        .body {
            font-size: 1.0625rem;
            padding-left: 0.3125rem;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .body {
            span:nth-child(2) {
                margin-left: 0.625rem;
                margin-right: 0.3125rem;
            }

            width: calc(100% - 2.1875rem);
        }

        // animation: name duration timing-function delay iteration-count direction fill-mode;
        .close {
            width: 2.5rem;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.125rem;
    height: 1.5625rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked+.slider {
            background-color: #2196F3;
        }

        &:focus+.slider {
            box-shadow: 0 0 0.0625rem #2196F3;
        }
    }

    input:checked+.slider:before {
        left: 100%;
        -webkit-transform: translateX(calc(-100% - 0.25rem));
        -ms-transform: translateX(calc(-100% - 0.25rem));
        transform: translateX(calc(-100% - 0.25rem));
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: calc(calc(100%) - 0.5rem);
            aspect-ratio: 1/1;
            left: 0.25rem;
            bottom: 0.25rem;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
    }


    .slider.round {
        border-radius: var(--width-siderbar);
    }

    .slider.round:before {
        border-radius: 50%;
    }

}