
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');


:root {
    --background-color-2: #e9eef6;
    --background-color-1: #f5f5f5;
    --text-color: #3c4043;
    --text-color-2: #5b5f63;
    --hover-color: rgba(0, 0, 0, 0.05);
    --color-hover: rgb(75, 79, 82);
    --height-line-color: rgb(218, 220, 224);
    --primary: rgb(26, 115, 232);
    --silver: #e4e4e4;
    --add-button-shadow: 0px 4px 4px 0px rgba(60, 64, 67, 0.3), 0px 8px 12px 6px rgba(60, 64, 67, 0.15);
    --main-box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.3);
    --popup-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);

    --err-color: 220, 53, 69;
    --info-color: 23, 162, 184;
    --warning-color: 255, 193, 7;
    --success-color: 40, 167, 69;

    --width-siderbar: 256px;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    background-color: var(--background-color-1);
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}


.main-center {
    padding: 12px 24px 20px 24px;
    background: var(--background-color-1);
    border-radius: 10px;
    display: flex;

    flex-direction: column;
    align-items: center;
    gap: 20px;

    .title {
        font-size: 30px;
        font-weight: bolder;
        color: var(--text-color);
    }

    .line {
        display: flex;
        gap: 20px;

        &:has(.wall-input.otp) {
            cursor: text;
        }

        .wall-input {
            border: 1px #5b5f6354 solid;
            height: 40px;
            width: 300px;
            cursor: text;
            
            display: flex;
            border-radius: 5px;
            position: relative;
            
            &:has(input[type="text"]:disabled), input[type="text"]:disabled {
                cursor: pointer;
            }

            &.otp {
                width: 40px;
                display: flex;

                input {
                    text-align: center;
                    margin: 0;
                }
            }

            input {
                background: transparent;
                border: none;
                outline: none;
                margin-left: 10px;
                font-size: 15px;
                color: var(--text-color);
                width: 100%;
            }
            
            .hide-pass,
            .icon-err {
                height: 100%;
                aspect-ratio: 1/1;
                position: relative;

                align-items: center;
                justify-content: center;

                display: none;

                &.show {
                    display: flex;
                }

                i {

                    color: #D03947;
                    font-size: 20px;
                    cursor: pointer;
                }

                &:has(i:hover) .tooltip {
                    display: block;
                }

                .tooltip {
                    display: none;
                    position: absolute;
                    background: #d03948d8;
                    font-size: 14px;
                    width: max-content;
                    padding: 5px;
                    border-radius: 5px;
                    right: 100%;
                    max-width: 250px;
                    color: #E8E8E8;
                }
            }

            .hide-pass {
                display: flex;
                i {
                    color: var(--text-color);
                }
            }

            .dropdown-popup {
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                width: 300px;
                height: fit-content;
                background-color: var(--background-color-1);
                box-shadow: 0 0 4px #000000;
                border-radius: 5px;
                padding: 10px;
                display: none;
                z-index: 10;

                &.show {
                    display: block;
                }

                .wall-input {
                    width: 100%;
                    height: 30px;
                }

                .view {
                    max-height: 150px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    scrollbar-width: thin;
                    scrollbar-color: gray transparent;
                    .item {
                        margin-top: 10px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 5px;
                        padding: 0 10px;
                        cursor: pointer;
                        text-wrap: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: var(--text-color);

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.15);
                        }
                    }
                }
            }

        }
    }

    button {
        width: 100%;
        height: 40px;
        background: transparent;
        border: 1px #5b5f6354 solid;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        i {
            display: none;
            font-size: 25px;
        }
        &.ok {
            background: #075AD4;
            color: #fff;
        }

        &.b2 {
            color: var(--text-color);
            background-color: var(--background-color-1);
        }

        &:active {
            filter: brightness(0.7);
        }

        &.loading i {
            display: inline;
        }
    }

    .dctk{
        font-size: 12px;
        font-weight: lighter;
        color: var(--text-color-2);
        a {
            margin-left: 5px;
            color: var(--text-color-2);
            text-decoration: none;
            font-weight: bolder;
        }
    }


    .hr {
        display: flex;
        width: 100%;
        align-items: center;

        span {
            padding: 0 2px;
            color: var(--text-color-2);
        }

        .a {
            background-color: var(--text-color-2);
            opacity: 0.3;
            border-width: 1px;
            width: 100%;
            height: 1px;
        }
    }
}